<div class="background">
  <app-content-main
  [title]="titleName"
  [background]="background"
  [isSubProduct]="isSubProduct"
  class="white-text sub-page-title"></app-content-main>

  <div class="container">
    <p class="center-align"><i>Use your Mastercard and qualify for amazing discounts. Click on the {{ text }} below for more information on the offer</i></p>
    <div class="client-container" [ngClass]="{'client-container-mobile': isMobileView }">
      <ng-container>
        <div *ngFor="let client of clientData" (click)="open(client)" [ngClass]="{'mobile-layout': isMobileView }">
          <div>
            <div [ngStyle]="{'background-image': 'url(../assets/' + client.link + ')'}" class="offer-image"></div>
          </div>
          <div class="offer-content" [ngClass]="{'offer-content-mobile': isMobileView }">
            <div *ngIf="client.name === 'Flight Centre'" class="offer-title">
              {{ client['title'] }}
              <div class="price" *ngIf="client.specialPrice && !isMobileView">
                R{{ client['specialPrice'] }}
              </div>
            </div>
            <div *ngIf="(titleName === 'accommodation' || titleName === 'dining') && client.name" class="offer-title">
              {{ client['name'] }}
            </div>
            <div *ngIf="!client.includes">
              {{ client['text'] }}
            </div>
            <div *ngIf="client.includes">
              <div class="price-mobile" *ngIf="client.specialPrice && isMobileView">
                R{{ client['specialPrice'] }}
              </div>
              <h3>Includes</h3>
              <ul>
                <li *ngFor="let item of client.includes">{{ item }}</li>
              </ul>
            </div>
            <br>
            <button mat-raised-button color="primary" [ngClass]="{'more-info': !isMobileView }">More info</button>
          </div>
        </div>
      </ng-container>
    </div>
    <p class="center-align" *ngIf="titleName === 'accommodation' || titleName === 'dining'"><i>Click on the company logo's for T&C's</i></p>
  </div>
</div>
