<div class="background">
  <app-content-main
  [title]="titleName"
  [background]="background"
  [isSubProduct]="isSubProduct"
  class="white-text sub-page-title"></app-content-main>

  <div class="container">
    <p class="center-align"><i>Use your Mastercard and qualify for amazing discounts. Click on the {{ text }} below for more information on the offer</i></p>
    <div class="client-container" [ngClass]="{'client-container-mobile': isMobileView }">
      <ng-container>
        <div *ngFor="let client of clientData" (click)="open(client)">
          <div>
            <img [src]="'../../assets/logos/' + client['link']" class="client-images"/>
          </div>
          <div class="offer-content">
            <div *ngIf="client.name === 'Flight Centre'" class="offer-title">
              {{ client['title'] }}
            </div>
            <div *ngIf="(titleName === 'accommodation' || titleName === 'dining') && client.name" class="offer-title">
              {{ client['name'] }}
            </div>
            {{ client['text'] }}
          </div>
        </div>
      </ng-container>
    </div>
    <p class="center-align" *ngIf="titleName === 'accommodation' || titleName === 'dining'"><i>Click on the company logo's for T&C's</i></p>
  </div>
</div>
