<div class="footer-container">
  <div class="footer-wrapper">
    <div class="priceless-logo">
      <img src="../../assets/priceless-specials.png" alt="footLogo">
    </div>
    <div class="card-container" [ngClass]="{'card-container-mobile': isMobileView }">
      <div>
        <div class="footer-title">About Priceless™ Specials</div>
        <p class="footer-text">
          Mastercard Priceless™ Specials are selected to inspire the same sense of appreciation in you. We scour the world for travel, culinary, shopping, sports, entertainment, and arts and culture deals, and select only the best.
        </p>
        <a href="https://specials.priceless.com/en-ap/about?issuerId=&productId=" class="footer-text read-more" target="_blank">Read more <span class="footer-text more-arrow-white"></span></a>
      </div>
      <div>
        <div class="footer-title">About Mastercard</div>
        <div class="footer-link">
          <a href="https://www.mastercard.com/sea" class="footer-text" target="_blank">Mastercard.com</a>
        </div>
        <div class="footer-link">
          <a href="https://specials.priceless.com/en-ap/benefits?issuerId=&productId=" class="footer-text" target="_blank">Mastercard Benefits</a>
        </div>
      </div>
      <div>
          <div class="footer-title">Other Information</div>
          <div class="footer-link">
            <a href="https://specials.priceless.com/en-ap/privacy?issuerId=&productId=" class="footer-text" target="_blank">Global Privacy Notice</a>
          </div>
          <div class="footer-link">
            <a href="https://specials.priceless.com/en-ap/terms?issuerId=&productId=" class="footer-text" target="_blank">Terms of Use</a>
          </div>
      </div>
      <div *ngIf="isMobileView">
        <p class="powered-by">Powered by</p><img class="logo" src="../../assets/logos/craft.jpg"/>
      </div>
    </div>
    <div class="copyright-text">
      Mastercard and Priceless are registered trademarks, and the circles design is a trademark of Mastercard International Incorporated. ©2019 Mastercard
    </div>
  </div>
</div>

