<div class="background">
  <app-content-main
  title="Hello Zimbabwe"
  slogan="The possibilities with Mastercard are endless."
  background="images/header.jpg"
  class="main-title"></app-content-main>

  <div class="container">
    <p class="center-align"><i>Use your Mastercard and qualify for amazing discounts. Click on the {{ text }} below for more information on the offer</i></p>
    <div class="client-container" [ngClass]="{'client-container-mobile': isMobileView }">
      <ng-container>
        <div *ngFor="let client of clientData" (click)="open(client)">
          <p *ngIf="(titleName === 'accommodation' || titleName === 'dining') && client.name" class="title">{{ client['name'] }}</p>
          <img [src]="'../../assets/Logos/' + client['link']" class="client-images"/>
            <p>
              {{ client['text'] }}
            </p>
        </div>
      </ng-container>
    </div>
    <p class="center-align" *ngIf="titleName === 'accommodation' || titleName === 'dining'"><i>Click on the company logo's for T&C's</i></p>
  </div>
</div>
