:host {
  background-color: #DCDADB;
}

.content-title {
    text-transform: capitalize;
}

.container {
  padding: 10px;
}

.client-images, .client-images ~ p {
  max-width: 330px;
  height: 90px;
  text-align: center;
}

.client-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.client-container > div {
  margin: 15px 0px;
}

.client-container > div:hover {
  cursor: pointer;
}

.client-container-mobile {
  justify-content: center;
}

.text-avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px;
}

.title {
  font-weight: 600;
}