<div class="background">
  <app-content-main
  title="Hello Zimbabwe"
  slogan="The possibilities with Mastercard are endless."
  background="images/header.jpg"
  class="main-title"></app-content-main>

  <div class="container">
    <p class="center-align"><i>Use your Mastercard and qualify for amazing discounts. Click on the {{ text }} below for more information on the offer</i></p>
    <div class="client-container"  [ngClass]="{'client-container-mobile': isMobileView }">
      <ng-container>
        <div *ngFor="let client of clientData" (click)="open(client)">
          <p *ngIf="isSubProduct && client.name" class="title">{{ client['name'] }}</p>
          <img [src]="'../../assets/Logos/' + client['link']" class="client-images"/>
            <p>
              {{ client['text'] }}
            </p>
        </div>
      </ng-container>
    </div>
    <div *ngIf="titleName === 'accommodation' || titleName === 'dining'">
      <h3 class="center-align">Customer Journey</h3>
      <ul>
        <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
        <li>Sign Up to create user a profile</li>
        <li>Cardholder selects hotel & checks out</li>
        <li>At check out the Cardholder uses promo code PRICELESS</li>
        <li>Once promo code is applied cardholder receives 5% discount</li>
        <li>Cardholder pays with Mastercard</li>
      </ul>
    </div>
    <p class="center-align" *ngIf="titleName === 'accommodation' || titleName === 'dining'"><i>Click on the company logo's for T&C's</i></p>
  </div>
</div>
