<div class="background">
  <app-content-main
    [title]="titleName"
    [background]="background"
    class="white-text sub-page-title"></app-content-main>

  <div class="container">
    <p class="center-align"><i>Use your Mastercard and qualify for amazing discounts. Click on the {{ text }} below for more information on the offer</i></p>
    <div class="client-container"  [ngClass]="{'client-container-mobile': isMobileView }">
      <ng-container>
        <div *ngFor="let client of clientData" (click)="open(client)">
          <img [src]="'../../assets/Logos/' + client['link']" class="client-images"/>
            <p>
              <img *ngIf="client.textAvatar" [src]="client.textAvatar" class="text-avatar"/>{{ client['text'] }}
            </p>
        </div>
      </ng-container>
    </div>
    <div *ngIf="isSubProduct">
      <h3 class="center-align">Customer Journey</h3>
      <ul>
        <li>Mastercard cardholder will email on amh@airmauritiusholidays.com and qualify for discount when requesting offer</li>
        <li>This will direct them to an Air Mauritius consultant who will service the booking from start to end</li>
        <li>Pay over the phone using your Mastercard</li>
      </ul>
    </div>
    <p class="center-align" *ngIf="!isSubProduct"><i>Click on the company logo's for T&C's</i></p>
  </div>
</div>
