<h2 mat-dialog-title>{{data.headingText}}</h2>
<mat-dialog-content class="mat-typography">
  <div style="text-align: center;">
    <img [src]="'../../assets/logos/' + data['link']" class="client-images"/>
  </div>

  <div *ngIf="data['name'] === 'Cruises'">
    <h3>THE OFFER</h3>
    <p>Pay with your Mastercard and get 10% discount on cabin cost only for any 7 night and longer sailings onboard Royal Caribbean International, Celebrity Cruises & Azamara bookings </p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Mastercard cardholder will email on the dedicated Mastercard email address -  mastercardoffers@flightcentre.co.za  </li>
      <li>This will direct them to the Cruiseabout Norwood Store consultant who will service the booking from start to end. </li>
      <li>Flight Centre and Cruiseabout Norwood are responsible for applying the discount to the qualifying Mastercard client/s. </li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer </li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Flight Centre'">
    <h3>THE OFFER</h3>
    <p>Pay with your Mastercard and get 5% off any package or flight for Zimbabwe</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Customer emails norwoodrsa@flightcentre.co.za.</li>
      <li>Customer requests offer based on referring to Priceless and/or MasterCard for U</li>
      <li>Discount fulfilled by agent</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Valid nationwide</li>
      <li>Can be used in conjunction with any other offer.</li>
      <li>Offer applicable only on request</li>
      <li>No blackout periods</li>
      <li>Can only be booked through call centre </li>
      <li>5% discount is applicable to Flight Centre Holiday packages and flights only</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Rainbow Tourism Group'">
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'A Zambezi River Lodge'">
    <h3>{{ data['name'] }}</h3>
    <p>A'Zambezi River Lodge is a 6-time (consecutive) TripAdvisor service excellence award, winner.The lodge is located in a serene environment, where you can refresh, relax, replenish and enjoy a truly African experience. It is also the only hotel in Victoria Falls located on the banks of the mighty Zambezi River. Wake up to abundant wildlife, from the Zambezi National Park roaming the hotel’s gardens.</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Victoria Falls Rainbow Hotel'">
    <h3>{{ data['name'] }}</h3>
    <p>The hotel’s central location means that you’re within walking distance of the mighty Victoria Falls and other awesome activities around the resort town. What’s more? The hotel’s panoramic deck gives you a bird’s eye view of the mesmerizing Victoria Falls spray, the mighty Zambezi River, the captivating Zambezi National Park and Livingstone city in Zambia.</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Kadoma Hotel and Conference Centre'">
    <h3>{{ data['name'] }}</h3>
    <p>Kadoma Hotel & Conference Centre is the ideal getaway destination for both conferencing and leisure. Located 140 km from Harare in Kadoma town along the Harare-Bulawayo highway, the hotel is also ideal for customers in transit looking for a stopover hotel.</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Rainbow Towers Hotel & Conference Centre'">
    <h3>{{ data['name'] }}</h3>
    <p>The luxurious iconic 5-star hotel offers a unique and refreshing experience for both business and leisure customers in the sunshine city. The hotel’s location is ideal - close to most entertainment spots in Harare’s CBD. The Rainbow Hotel & Conference Centre has the largest hotel-based conferencing capacity in Zimbabwe; the main auditorium seats up to 4500 delegates. Parking space is unlimited. The hotel’s delectable menu will have your mouth watering</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'New Ambassador Hotel'">
    <h3>{{ data['name'] }}</h3>
    <p>The New Ambassador Hotel has a rich history as the epicenter of black consciousness. Located in Harare’s Central Business District, the boutique hotel is within reach of restaurants, cinemas, the National Art Gallery and other service centers.</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Monomotapa Hotel Harare'">
    <h3>{{ data['name'] }}</h3>
    <p>The facilities at Monomotapa are specially designed for the convenience of the guest. The hotel provides a one-stop service where accommodation and other services are all available, from the wide selection of food and beverage outlets with the restaurants and bars to the full conference and banqueting facilities. The massage parlour and outdoor swimming pool allow the guest to take a rest and relax.
      <br><br>All the facilities and services at the Monomotapa Hotel are within easy reach of the guest and there is always a guest relations officer to assist should the guest require any facility or service outside thehotel premises.</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Bulawayo Rainbow Hotel'">
    <h3>{{ data['name'] }}</h3>
    <p>The hotel is a 15 minute drive from Joshua Mqabuko Nkomo Airport and is within reach of express coaches connecting Harare and Victoria Falls. The hotel also boasts of the largest rooms capacity in Bulawayo, giving you more room to kick back and relax</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Cresta Lodge Harare'">
    <h3>{{ data['name'] }}</h3>
    <p>Set in beautiful and tranquil surroundings, located on the outskirts of the dynamic city centre, you’ll find the beautiful Cresta Lodge, one of the best hotels in Harare. The property is the idyllic setting forthe most memorable events with superior levels of comfort, attention to detail and top quality facilities all topped off with the true warmth of African hospitality.</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Alo Alo'">
    <h3>{{ data['name'] }}</h3>
    <p>A Home away from Home Experience surrounded by a beautiful tranquil garden</p>
    <h3>Cuisines</h3>
    <p>European</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Mojos'">
    <h3>{{ data['name'] }}</h3>
    <p>Come to Mojo's and eat as much meat as you want</p>
    <h3>Cuisines</h3>
    <p>Portugeuse, Brazilian</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Kombahari Restaurant'">
    <h3>{{ data['name'] }}</h3>
    <p>The best Afro-Asian fusion dining experience and only live cooking restaurant in the country</p>
    <h3>Cuisines</h3>
    <p>Japanise Cuisine, Chinese, American and Halaal</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Le Rendezvous'">
    <h3>{{ data['name'] }}</h3>
    <p>Situated on the Mezzanine Floor, the coffee shop offers a wide range of coffee and teas along with a selection of light meals, cakes and pastries. The coffee shop is ideal for relaxing with family and friends or for a business meeting</p>
    <h3>Cuisines</h3>
    <p>American, French Food</p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Cresta Spray View Victoria Falls'">
    <h3>{{ data['name'] }}</h3>
    <p>Topping the list of affordable Victoria Falls hotels, Cresta Sprayview offers stylish, well-appointed accommodation and a host of convenient facilities for business and leisure travelers alike.
      <br><br>
      Ideally situated just 20km from the recently-upgraded Victoria Falls International Airport, 1.4km from the entrance to the Victoria Falls Rainforest, and 1km from the central business district, it provides a fantastic launchpad from which to explore Africa’s adventure capital. In fact, the hotel is so close to the action that when the Falls are in full flood, the spray can be seen from the hotel, hence the name ‘Sprayview’.
      <br><br>
      Set on eight acres of manicured grounds in the heart of Victoria Falls, Cresta Sprayview Hotel features 65 rooms and suites for guests to choose from. Convenient in-room amenitiesinclude air-conditioning, Wi-Fi, satellite television, tea and coffee making facilities, personal safes, hairdryers, and universal plugs.
      <br><br>
      The hotel has 1 on-site restaurant and 2 bars, the Railway Cocktail Bar and Lounge and the Rainforest Bar. Alfresco dining beside the large swimming pool on mild evenings, with the Falls thundering in the background, is an experience to remember.
      <br><br>
      One of the best Victoria Falls hotels for business travelers, Cresta Sprayview Hotel boasts a business center with state-of-the-art conference facilities and Wi-Fi in all public areas. The two conferencing venues - The Green Room and The Think Tank - accommodate 80 delegates cinema style and 12 delegates boardroom style respectively.
      <br><br>
      With over 50 fantastic activities to choose from, there are plenty of ways to keep busy in Victoria Falls. A haven for adventure enthusiasts, this resort town offers everything from white water rafting and bungee jumping, to zip-lining across the Batoka Gorge and river boarding down the Zambezi.
      <br><br>
      For a more relaxing experience, opt for a leisurely river cruise, a helicopter flight over the Falls, a walk through the various curio markets, or a half-day canoe trip. Making it easy for guests to enjoy a guided or self-guided tour of the ‘Smoke That Thunders’, the hotel offers guests a complimentary shuttle service to and from the rainforest entrance at designated times. Visit the 24 hour reception desk at Cresta Sprayview Hotel to arrange these activities, and more.
      <br><br>
      Cresta Sprayview was established in 1968 by Gardini & Sons to provide affordable and yet comfortable accommodation for the weary traveler. The hotel was taken over by Cresta Hotels in 2013 and was completely remodeled to its modern present look
    </p>
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Download Gateway Stream App for <a href='https://play.google.com/store/apps/details?id=com.dapl.rtg' target="_blank">Android</a> or <a href="https://apps.apple.com/us/app/rtg-gateway/id1278291701?ls=1" target="_blank">IOS</a></li>
      <li>Sign Up to create user a profile</li>
      <li>Select hotel & checks out</li>
      <li>At check out use promo code PRICELESS</li>
      <li>Once promo code is applied receive 5% discount</li>
      <li>Pay with Mastercard</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" (click)="close()">{{data.buttonText}}</button>
  <button mat-button cdkFocusInitial (click)="view()">View</button>
</mat-dialog-actions>
