<h2 mat-dialog-title>{{data.headingText}}</h2>
<mat-dialog-content class="mat-typography">
  <div style="text-align: center;">
    <img [src]="'../../assets/Logos/' + data['link']" class="client-images"/>
  </div>

  <div *ngIf="data['name'] === 'Cruises'">
    <h3>THE OFFER</h3>
    <p>Pay with your Mastercard and get 10% discount on cabin cost only for any 7 night and longer sailings onboard Royal Caribbean International, Celebrity Cruises & Azamara bookings </p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Mastercard cardholder will email on the dedicated Mastercard email address -  norwoodrsa@flightcentre.co.za </li>
      <li>This will direct them to the Cruiseabout Norwood Store consultant who will service the booking from start to end. </li>
      <li>Flight Centre and Cruiseabout Norwood are responsible for applying the discount to the qualifying Mastercard client/s. </li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer </li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Flight Centre'">
    <h3>THE OFFER</h3>
    <p>Pay with your Mastercard and get 5% off any package or flight for Zimbabwe</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Customer emails norwoodrsa@flightcentre.co.za.</li>
      <li>Customer requests offer based on referring to Priceless and/or MasterCard for U</li>
      <li>Discount fulfilled by agent</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Valid nationwide</li>
      <li>Can be used in conjunction with any other offer.</li>
      <li>Offer applicable only on request</li>
      <li>No blackout periods</li>
      <li>Can only be booked through call centre </li>
      <li>5% discount is applicable to Flight Centre Holiday packages and flights only</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Rainbow Tourism Group'">
    <h3>THE OFFER</h3>
    <p>5% discount on accommodation</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Cardholder selects hotel & checks out on website or mobile app (Gateway Stream)</li>
      <li>At check out the Cardholder pays with a Mastercard</li>
      <li>Cardholder receives 5% discount</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Cannot be used in conjunction with any other offer</li>
      <li>Offer only available whilst booking via Gateway Stream mobile app or on the website</li>
      <li>Benefit only applicable when purchased with a MasterCard</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Linkham Services'">
    <h3>THE OFFER</h3>
    <p>Use your Mastercard and qualify for the following:</p>
    <ul>
      <li>10% off travel insurance</li>
      <li>10% off retail protection insurance</li>
      <li>10% off  purchase protection</li>
      <li>10% off in-patient cash benefit insurance</li>
      <li>10% off funeral cover</li>
      <li>10% off short term personal accident</li>
      <li>5% off local medical insurance</li>
      <li>5% off expat medical cover</li>
    </ul>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>View the offer on MasterCard channels (apps / websites) and click on the offer.</li>
      <li>Contact the Call Centre on this number: 230 405 5808</li>
      <li>Request the Mastercard benefit and the call centre agent will fulfil the offer.</li>
      <li>Pay using your Mastercard.</li>
    </ul>

    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>The offer is valid from 1 December 2019 to 30 September 2020.</li>
      <li>The Benefit(s) is not valid on promotional offers.</li>
      <li>The Benefit(s) apply to all issued Mastercards.</li>
      <li>The Benefit(s) is only applicable to new policies</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Strike City'">
    <h3>THE OFFER</h3>
    <p>Use your Mastercard and qualify for the following at Strike City:
      <br>
      10% off food and drinks bill exceeding Rs1,000 OR Pay for 2 bowling games and get a free soft drink
    </p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Quote Mastercard, Priceless offers in store</li>
      <li>Present your Mastercard to make the payment</li>
      <li>The staff member will apply the offer based on the presentation of card</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>The offer is valid from 1 October 2019 to 30 September 2020.</li>
      <li>The Benefit(s) is not valid on promotional offers.</li>
      <li>The Benefit(s) apply to all issued Mastercard’s</li>
      <li>The Benefit(s) is not valid on promotional offers.</li>
      <li>The Benefit(s) is only applicable from Monday to Thursday between 10am and midnight</li>
      <li>The Benefit(s) is not available on public holidays</li>
      <li>The Benefit(s) is valid for individual MasterCard holders only and does not apply to corporate team building events</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Tamassa'">
    <h3>THE OFFER</h3>
    <p>Use your Mastercard and get 10% of Spa treatments</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Quote Mastercard, Priceless offers at relevant hotels</li>
      <li>Present your Mastercard to make the payment</li>
      <li>The staff member will apply the offer based on the presentation of card</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>The Benefit(s) apply to all Mauritian issued Mastercards.<br>
        The Partner is entitled to valid the cardholder by confirming local residency and/or nationality.
      </li>
      <li>The offer is valid from 1 October 2019 to 30 September 2020.</li>
      <li>The Benefit(s) is not valid on promotional offers</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Salt'">
    <h3>THE OFFER</h3>
    <p>Use your Mastercard and qualify for the following:</p>
    <ul>
      <li>5% discount on Spa treatments</li>
      <li>10% discount for dinners in main restaurant</li>
      <li>or 5% discount for dinners in A La Carte restaurant at Salt of Palmar Mauritius</li>
    </ul>
    <h3>CARDHOLDER JOURNEY</h3>
    <p>Add the items you would like to purchase and proceed to checkout</p>
    <ul>
      <li>Quote Mastercard, Priceless offers at relevant hotels</li>
      <li>Present your Mastercard to make the payment</li>
      <li>The staff member will apply the offer based on the presentation of card</li>
    </ul>

    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>The Benefit(s) apply to all Mauritian issued Mastercards.<br>The Partner is entitled to valid the cardholder by confirming local residency and/or nationality.</li>
      <li>The offer is valid from 1 October 2019 to 30 September 2020.</li>
      <li>The Benefit(s) is not valid on promotional offers.</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'Titanium Travel Club'">
    <h3>THE OFFER</h3>
    <p>Pay for your air tickets with your Mastercard and receive a free bowling ticket at Titanium Travel Club</p>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Quote Mastercard, Priceless offers at relevant hotels</li>
      <li>Present your Mastercard to make the payment</li>
      <li>The staff member will apply the offer based on the presentation of card</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>Offer available when presenting a valid MasterCard</li>
      <li>The offer is valid from 1 October 2019 to 30 September 2020.</li>
      <li>The Benefit(s) is not valid on promotional offers.</li>
    </ul>
  </div>

  <div *ngIf="data['name'] === 'The Lux Collective'">
    <h3>THE OFFER</h3>
    <p>Use your Mastercard and qualify for the following:</p>
    <ul>
      <li>5% discount on Spa treatments</li>
      <li>10% discount for dinners in main restaurants</li>
      <li>5% discount for dinners in A La Carte restaurant</li>
    </ul>
    <h3>CARDHOLDER JOURNEY</h3>
    <ul>
      <li>Quote Mastercard, Priceless offers at relevant hotels</li>
      <li>Present your Mastercard to make the payment</li>
      <li>The staff member will apply the offer based on the presentation of card</li>
    </ul>
    <h3>TERMS & CONDITIONS</h3>
    <ul>
      <li>The Benefit(s) apply to all Mauritian issued Mastercards.<br>The Partner is entitled to valid the cardholder by confirming local residency and/or nationality.</li>
      <li>The offer is valid from 1 October 2019 to 30 September 2020</li>
      <li>The Benefit(s) is not valid on promotional offers</li>
    </ul>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" (click)="close()">{{data.buttonText}}</button>
  <button mat-button cdkFocusInitial (click)="view()">View</button>
</mat-dialog-actions>
