<div class="slider-background"
  [ngClass]="{'slider-background-mobile': isMobileView }"
  [ngStyle]="{'background-image': 'url(' + bgUrl + ')'}">
  <div class="slider-background-text">
    <h1 [ngClass]="class">{{ title }}</h1>
    <h3 class="slogan">{{ slogan }}</h3>
  </div>
</div>

<div class="menu-container main-container">
  <div class="menu-items" [ngClass]="{'center-align': isMobileView }">
    <a (click)="routeTo('')" *ngIf="!isMobileView">Home</a>
    <a (click)="routeTo('benefits/travel')">Travel</a>
    <a (click)="routeTo('benefits/accommodation')">Accommodation</a>
    <a (click)="routeTo('benefits/dining')">Dining</a>
  </div>
</div>
<div class="hr-line"></div>