<mat-toolbar color="primary">
  <mat-toolbar-row class="top-header">
    <div class="top-navigation-container">
      <div>
        <a (click)="routeTo('')">
          <img class="top-logo" src="../../assets/priceless-specials-header.png"/>
        </a>
      </div>
    </div>
    <div class="spacer"></div>
    <ng-container *ngIf="!isMobileView">
      <p class="powered-by">Powered by</p><img class="logo" src="../../assets/Logos/craft.jpg"/>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<div class="hr-line"></div>
