<mat-toolbar color="primary">
  <mat-toolbar-row class="top-header">
    <div class="top-navigation-container">
      <div>
        <img class="top-logo" src="../../assets/priceless-specials-header.png"/>
      </div>

      <div class="menu-items">
        <a (click)="routeTo('')">Home</a>
        <a (click)="routeTo('benefits/travel')">Travel</a>
        <a (click)="routeTo('benefits/lifestyle')">Lifestyle</a>
        <a (click)="routeTo('benefits/retail')">Retail</a>
        <a (click)="routeTo('benefits/travel/rainbow-tourism-group')">Rainbow Tourism Group</a>
      </div>

    </div>
    <div class="spacer"></div>
    <img class="logo" src="../../assets/mc.png"/>
  </mat-toolbar-row>
</mat-toolbar>

<div class="hr-line"></div>
