/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: Hawk;
    src: url(assets/TaleofHawks.ttf);
}

@font-face {
    font-family: MarkForMCNarrowW00Regular;
    src: url(assets/MarkForMCNarrowW00Regular.woff2);
}

@font-face {
    font-family: MarkOffcProLight;
    src: url(assets/MarkOffcProLight.woff2);
}

p, h1, h2, h3, h4, h5, li {
    font-family: MarkForMCNarrowW00Regular;
}

h1, h2, h3, h4, h5 {
  text-transform: capitalize;
}

ul {
  margin-left: -15px;
}

li {
  font-size: 16px;
  font-weight: 100;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.center-align {
  text-align: center !important;
}

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

.menu-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #aaaaaab3;
}

.menu-items {
  font-family: MarkForMCNarrowW00Regular;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.menu-items > a:first-child {
  padding: 2px 15px 0px 5px;
}

.menu-items > a:not(:first-child) {
  padding: 2px 15px;
}

.menu-items > a {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.menu-items > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mat-dialog-container {
  max-width: 800px;
}